/* Common admin center classes.
------------------------------------------------------- */

.action_admin p.description a {
	font-weight: bold;
}
.action_admin p.description img {
	vertical-align: middle;
}
.information a {
	font-weight: bold;
}
.action_admin .generic_list {
	overflow: auto;
}
#admincenter .content {
	padding: 12px;
}

div.quick_tasks {
	margin: -8px 0 0 0;
}
#mailqueue_stats {
	padding: 8px 8px 0 8px;
}
#mailqueue_stats .windowbg {
	background: none;
	padding: 0;
}
#mailqueue_stats .windowbg .content {
	padding: 12px 9px 0 9px;
}
#view_group .table_grid {
	margin: 4px 0 8px 0;
}
/*-------------------------------------------*/

/*-------------------------------------------*/
.action_admin .generic_list .flow_auto {
	padding: 4px 2px;
}
h3.titlebg form {
	font-size: 80%;
}
.windowbg.nopadding {
	margin: 4px 0 0 0;
	padding: 0;
}
.windowbg ol {
	margin-top: 0;
	margin-bottom: 0;
}
a.help .icon {
	margin: 0 0 0 0;
	padding: 0 4px 0 0;
}
.catbg a.help .icon {
	margin: -4px 0 0 0;
}
.table_caption, tr.table_caption td {
	color: #000;
	font-size: 10px;
	font-weight: bold;
}
.additional_row div.floatleft {
	padding: 0 10px;
}
legend {
	font-weight: bold;
	color: #000;
}

/* Styles for the admin home screen.
------------------------------------------------------- */
/* Admin quick search bar, and results page. */
.search_results {
	margin: 0 -6px;
}
.search_results li {
	margin: 0;
	padding: 5px 0;
	overflow: auto;
	line-height: 1.7em;
	border-bottom: double #ccc;
}
.search_results li a strong {
	color: #346;
}
.search_results li p {
	padding: 0 20px;
	line-height: 1.7em;
}
#smf_news
{
	height: 30em;
	overflow: auto;
}

/* The update warning. */
#update_section {
	margin: 6px 0;
}
.left_content, .right_content {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.left_content {
	float: left;
	width: 50%;
	padding: 0 6px 0 0;
}
.right_content {
	float: right;
	width: 50%;
	padding: 0 0 0 6px;
}

/* Links to handy sections of admin.
----------------------------------*/
/* The <li>'s here have been set to a height in em with hidden overflow.
/* Yes, this will clip the blurb when using very large font sizes on a narrowish screen.
/* However, more than enough content is still available for clarity,
/* and the advantage is that a clean layout is always maintained.
/* The <li>'s could be set to auto overflow instead, but that just clutters things up with scrollbars.
/* Scrollbars here look worse, take up space, and don't really add anything useful in this context. */
div.quick_tasks {
	border-radius: 0 0 7px 7px;
	border-top: none;
	box-shadow: none;
	padding: 0 0 16px 0;
}
#quick_tasks {
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #fff;
}
#quick_tasks  li {
	list-style: none;
	padding: 10px 6px 10px 6px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #bbb;
	float: left;
	width: 50%;
	height: 6em;
	overflow: hidden;
}
#quick_tasks  li a  {
	line-height: 1.6em;
}
.home_image {
	float: left;
	margin: 2px 10px;
}
#quick_tasks  li span {
	display: block;
	margin: 0 0 0 70px;
}

/* Styles for the package manager.
/* Haven't got here yet. :P
------------------------------------------------- */
#package_list .tborder {
	margin: .25em 0 .25em 26px;
}
#package_list ol, #package_list ol li {
	list-style: decimal;
	margin-left: 50px;
	border: none;
}
#package_list ol ul, #package_list ol ul li {
	margin-left: 0;
	list-style: none;
}
#package_list {
	list-style-type: none;
}
#package_list li {
	border: 1px solid #cacdd3;
	padding: 0.2em;
	margin: 1px;
}
.package_section {
	border: 1px solid #cacdd3;
}
ul.packages li {
	border: none !important;
	list-style: none;
}
code#find_code, code#replace_code {
	display: block;
	font-family: "dejavu sans mono", "monaco", "lucida console", "courier new", monospace;
	font-size: 0.9em;
	background: #eef;
	border-top: 2px solid #999;
	border-bottom: 2px solid #999;
	margin: 1px 0 6px 0;
	padding: 3px 12px;
	overflow: auto;
	white-space: nowrap;
	/* Show a scrollbar after about 6 lines. */
	/* This is much better than the old max-height css. */
	height: 10em;
	resize: vertical;
}
span.package_server {
	padding: 0 3em;
}
ul.package_servers {
	margin: 0;
	padding: 0;
}
ul.package_servers li {
	list-style-type: none;
}
pre.file_content {
	overflow: auto;
	width: 100%;
	padding-bottom: 1em;
}
.operation {
	padding: 0 1em;
}

/* Styles for the file permissions section.
------------------------------------------------- */
.filepermissions {
	font-size: 0.8em;
	white-space: nowrap;
}
.fperm {
	display: block;
	width: 35%;
	text-align: center;
}
.perm_read {
	background-color: #d1f7bf;
}
.perm_write {
	background-color: #ffbbbb;
}
.perm_execute {
	background-color: #fdd7af;
}
.perm_custom {
	background-color: #c2c6c0;
}
.perm_nochange {
	background-color: #eee;
}

.select_spot {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(../images/generic_icons.png) no-repeat -48px -32px;
}
.select_spot.above {
	background-position: -48px -32px;
}
.select_spot.here {
	background-position: -64px -32px;
}
.select_spot.below {
	background-position: -80px -32px;
}

/* Styles for the BBC permissions
------------------------------------------------- */
.list_bbc {
	width: 33%;
}

/* Styles for the manage boards section.
------------------------------------------------- */
#manage_boards ul {
	padding: 0;
	margin: 0 0 8px 0;
	max-height: 30em;
	overflow: auto;
	border: 1px solid #ccc;
}
#manage_boards li {
	list-style: none;
	margin: 0 1px;
	padding: 8px;
	clear: both;
}
#manage_boards li:not(:last-child) {
	border-bottom: 1px solid #ccc;
}
#manage_boards li:nth-child(even) {
	background: #fdfdfd;
}
#manage_boards li:nth-child(odd) {
	background: #f8f8f8;
}
#manage_boards li img {
	vertical-align: middle;
	padding: 0 6px 3px 6px;
}
#manage_boards li .select_spot {
	vertical-align: middle;
	margin: 0 6px 3px 6px;
}
#manage_boards li .floatleft {
	font-weight: bold;
	padding: 0 6px;
}
#manage_boards li#recycle_board {
	background-color: #dee;
}
#manage_boards li.redirect_board {
	background-color: #eed;
}
.move_links {
	padding: 0 13px 0 0;
}
.modify_boards {
	padding: 0 0.5em;
}
#manage_boards dl {
	padding: 8px 6px 0 6px;
}
#manage_boards dl textarea, #manage_boards dl table{
	margin: 0 0 8px 0;
}
#manage_boards span.post_group, #manage_boards span.regular_members {
	border-bottom: 1px dotted #000;
	cursor: help;
}
.select_all_box {
	display:none;
}

/* Styles for the manage members section.
------------------------------------------------- */

.msearch_details {
	display: block;
	width: 49%;
}
dl.right dt {
	padding-right: 10px;
}

/* Styles for the question and answers
------------------------------------------------- */
fieldset.qa_fieldset {
	clear: both;
	display: none;
}

/* Styles for the manage calendar section.
------------------------------------------------- */
dl.settings dt.small_caption {
	width: 20%;
}
dl.settings dd.small_caption {
	width: 79%;
}
/* Styles for the manage permissions section.
------------------------------------------------- */
#permissionForm .table_grid {
	width: 100%;
}
#permissionForm .table_grid img.icon {
	vertical-align: top;
	width: 16px;
}
dl.admin_permissions dt {
	width: 35%;
}
dl.admin_permissions dd {
	width: 64%;
}

/* Styles for the manage search section.
------------------------------------------------- */
dl.settings dt.large_caption {
	width: 70%;
}
dl.settings dd.large_caption {
	width: 29%;
}
span.search_weight {
	width: 40px;
	padding: 0 0.5em;
	text-align: right;
}
.search_settings {
	width: 47%;
}

/* Styles for the manage bans section.
------------------------------------------------- */
.ban_restriction {
	margin: 0.2em 0 0.2em 2.2em;
}
.ban_settings {
	width: 46%;
}
#manage_bans dl {
	margin-bottom: 1em;
}
#manage_bans fieldset dl.settings {
	margin-bottom: 0;
}

/* Styles for the manage subscriptions section.
------------------------------------------------- */
#fixed_area {
	width: 97%;
}
ul.pending_payments {
	margin: 0;
	padding: 0;
}
ul.pending_payments li {
	list-style-type: none;
}

/* Styles for the manage permissions section.
------------------------------------------------- */
.perm_name, .perm_profile, .perm_board {
	display: block;
	width: 40%;
}
.perm_boards {
	padding: 0;
	margin: 0 0 0.6em 0;
}
.perm_boards li {
	list-style-type: none;
	border: 1px solid #cacdd3;
	padding: 0.2em;
	margin: 1px;
}
.perm_groups {
	background-color: #fff;
}
.permission_groups {
	padding: 0;
	margin: 0;
}
.permission_groups li {
	list-style-type: none;
	padding: 0.2em;
	margin: 1px;
}
.perms {
	width: 20px;
	display: inline-block;
	text-align: center;
}

/* Styles for the themes section.
------------------------------------------------- */
ul.theme_options {
	padding: 0;
	margin: 0;
}
ul.theme_options li {
	list-style: none;
	padding: 0.4em;
}
.is_directory {
	padding-left: 18px;
	background: url(../images/admin/boards.png) no-repeat;
}
.edit_file {
	width: 96%;
	font-family: monospace;
	margin-top: 1ex;
	white-space: pre;
}

dl.themes_list {
	margin: 0;
}
dl.themes_list dt {
	margin-bottom: 3px;
}
dl.themes_list dd {
	font-style: italic;
	white-space: nowrap;
}

/* Styles for the registration center.
------------------------------------------------- */
.agreement, .reserved_names {
	padding: 0;
}
#agreement, #reserved {
	width: 99%;
}

/* Styles for the moderation center.
------------------------------------------------- */
#modcenter {
	display: block;
	width: 100%;
}
/* Moderation Notes */
ul.moderation_notes {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
	height: 10.2em;
}
ul.moderation_notes li {
	padding: 0.2em;
	border-bottom: 1px solid #cccccc;
}
.notes {
	margin-top: 0.4em;
}
.post_note {
	width: 85%;
}

/* Styles for the error log.
------------------------------------------------- */

h3.grid_header {
	height: 25px;
}
#error_log {
	width: 100%;
}
#error_log tr.windowbg td, #error_log tr.windowbg2 td {
	padding: 8px;
	line-height: 160%;
}
#error_log td div {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
#error_log td.checkbox_column {
	width: 15px;
	vertical-align: top;
	text-align: center;
}
#error_log a img {
	vertical-align: middle;
	margin: 0 8px 0 0;
}


/* More error log stuff. Could still be cleaned up a bit.
--------------------------------------------------*/
#error_log {
	margin: 4px 0;
}
#error_log tr:first-child td {
	border-top: 2px solid #ff9400;
	border-bottom: 2px solid #bf6900;
	background: #fff;
	padding: 8px;
}

/* Styles for the Report generation
------------------------------------------------- */
#report_buttons {
	min-height: 2.4em;
	padding: 3px 0;
}
.report_results th {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

/* Try out some nifty small screen friendliness, for the cost of a few more bytes. */

@media screen and (max-width: 490px),(max-width: 32em) {
	body {
		padding: 0;
	}
	#wrapper, #footer_section div.frame {
		min-width: 100%;
	}
	#main_content_section {
		padding: 0 10px;
	}
	/* Level 1 button background. */
	.dropmenu li {
		line-height: 3.2em;
	}
	.dropmenu li ul {
		top: 3.45em;
	}
	.dropmenu li li a {
		line-height: 3.2em;
	}
	h3.catbg #quick_search form {
		margin: 0 0 8px 0;
		padding: 0;
	}
	h3.catbg #quick_search form input {
		margin: 0 0 12px 0;
	}
	h3.catbg #quick_search form select option {
		padding: 4px 4px;
	}
	h3.catbg #quick_search form .button_submit {
		margin: 0 3px 0 3px;
	}
	#live_news, #supportVersionsTable {
		width: 100%;
	}
	#live_news {
		margin: 0 0 6px 0;
	}
	#supportVersionsTable {
		padding: 0;
	}
	#quick_tasks ul li span {
		display: block;
		margin: 0 0 0 50px;
	}
	#credits_page {
		padding-top: 35px;
	}
	#credits_page img {
		right: 6px;
	}
	#manage_boards .catbg {
		margin-top: 10px;
	}
	#manage_boards .windowbg {
		line-height: 3.2em;
	}
	#manage_boards ul {
		max-height: 120em;
		padding: 0 0 10px 0;
	}
	#manage_boards dd, #manage_boards dt {
		width: 100%;
	}
	#manage_boards dt {
		line-height: 1.6em;
	}
}
/* These kids and their new-fangled thingummys. :P */
/* When I were a lad, things were different! */
