/* Some BBC related styles.
------------------------------------------------------- */

cite:before, cite:after {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
	color: #e2e2e2;
	font-size: 1.5em;
}
cite::before {
	content: "\f10e";
	float: right;
	transform: rotate(-30deg);
}
cite::after {
	content: "\f10d\00a0\00a0";
	float:right;
	transform: rotate(-30deg);
}
cite {
	font-size: small;
	font-style: italic;
	display: block;
	font-variant: small-caps;
}
cite a {
	color: #aaa;
}

/* The "Quote:" and "Code:" header parts... */
.codeheader, .quoteheader {
	color: #666;
	font-size: 0.9em;
	padding: 0 2px;
}

/* For links to change the code stuff... */
.codeoperation {
	font-weight: normal;
}


/* Styling for BBC tags */
.bbc_link:link, .bbc_link:visited {
	border-bottom: 1px solid #A8B6CF;
}
.bbc_link:hover {
	text-decoration: none;
	border-bottom: 1px solid #346;
}
.bbc_size {
	line-height: 1.4em;
}
.bbc_color a {
	color: inherit;
}
.bbc_bold {
	font-weight: bold;
}
.bbc_img {
	border: 0;
}
.bbc_table {
	font: inherit;
	color: inherit;
}
.bbc_table td {
	font: inherit;
	color: inherit;
	vertical-align: top;
}
.bbc_u {
	text-decoration: underline;
}
.bbc_list {
	text-align: left;
	padding: 0 0 0 35px;
	list-style-type: inherit;
}
/* Everything is same except HTML5 valid */
.bbc_tt {
	font-family: "dejavu sans mono", "monaco", "lucida console", "courier new", monospace;
}