/* Styles for the BoardIndex.
----------------------------------------------------- */
#boardindex_table.row {
	padding-top: 5px;
}
.row {
	margin: 0 !important;
}
.row-border {
	border-bottom: 1px solid #D8D2C2;
	padding-bottom: 5px;
}
div[class="row row-border windowbg2"] {
	background: #fdfdfd;
}
div[class="row row-border windowbg"] {
	background: #f8f8f8;
}
.windowbg.locked {
	background: #d4dce2;
}
.windowbg2.locked {
	background: #d8e1e7;
}
.windowbg.sticky {
	background: #e8d8cf;
}
.windowbg2.sticky {
	background: #f2e3d9;
}
.windowbg.sticky.locked {
	background: #e8d8cf;
}
.windowbg2.sticky.locked {
	background: #e8d8cf;
}
.windowbg.approvetopic {
	background: #e4a17c;
}
.windowbg2.approvetopic {
	background: #f3bd9f;
}
.windowbg.approvepost {
	background: #ffeaea;
}
.windowbg2.approvepost {
	background: #fff2f2;
}

.feature-icon {
    width: 40px;
    height: 40px;
    position: relative;
    margin-top: 25px;
    display: inline-block;
}
.feature-icon:before, .feature-icon:after{
    position: absolute;
    display:block;
    content: "";
    width:40px;
    height:40px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(45deg);
    -webkit-transition: border-color 0.3s;
    -moz-transform: rotate(45deg);
    -moz-transition: border-color 0.3s;
    transform: rotate(45deg);
    transition: border-color 0.3s;
}
.feature-icon:after {
    border: 1px solid #2c3e50;
}
.feature-icon.board-off:before {
    border: 4px solid #ecf0f1;
}
.feature-icon.board-on:before {
    border: 20px solid #ecf0f1;
}
