/* Styles for the calendar section.
------------------------------------------------- */

div.week_month_title {
	font-weight: bold;
	font-size: xx-large;
	margin: 10px 0 12px 2px;
}
div.week_month_title a {
	color: #555;
}
td {
	vertical-align: middle;
}
div.week_add_event > a {
	font-size: x-large;
	color: #999;
}
div.week_add_event > a:hover {
	color: #555;
}
th, td, .panel-heading {
	text-align: center;
}
.col-md-8 th, .col-md-8 td {
	width: 100px;
}
.col-md-8 td.act_day {
	height: 100px;
	height: attr(width);
	font-size: x-large;
}
.col-md-8 td.info {
	font-weight: bold;
}
td.disabled {
	background-color: rgba(238, 238, 238, 1.0) !important;
}
td.events {
	background: rgba(30, 245, 20, 0.1);
}
td.holidays {
	background: rgba(23, 110, 245, 0.1);
}
td.birthdays {
	background: rgba(102, 0, 255, 0.1);
}