/*Comment List styles*/
.comment-list .row {
	margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
	padding: 4px 15px;
	position: absolute;
	border:none;
	/*Panel-heading border radius*/
	border-top-right-radius:0px;
	top: 1px;
}
.comment-list .panel .panel-heading.right {
	border-right-width: 0px;
	/*Panel-heading border radius*/
	border-top-left-radius:0px;
	right: 16px;
}
.comment-list figure {
	padding: 0;
}
.comment-list .panel .panel-heading .panel-body {
	padding-top: 6px;
}
.comment-list figcaption {
	/*For wrapping text in thumbnail*/
	word-wrap: break-word;
}
.arrow {
	position: relative;
	vertical-align: top;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
	.arrow::before {
		background-color: #fff;
		content: "\00a0";
		display: block;
		height: 16px;
		position: absolute;
		top: 11px;
		transform: rotate(45deg) skew(-15deg);
		width:  20px;
	}
	.me {
		margin: 5px 45px 5px 20px;
	}
	.me::before {
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
		box-shadow: -2px 1px 1px 0 rgba(0, 0, 0, 0.05);
		left: -9px;
	}
	.you {
		margin: 5px 20px 5px 45px;
	}
	.you::before {
		box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
		right: -9px;
	}
}
.comment-list .under_message,
.comment-list .comment-post {
	margin-top: 6px;
}
.comment-list input[type=checkbox ] {
	margin-left: 6px;
	vertical-align: top;
}
