/* Some lovely generic icons.
------------------------------------------------- */
.generic_icons {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(../images/generic_icons.png) no-repeat 0 0;
	vertical-align: middle;
}
.generic_icons.gender_None {
	background: none;
}
/* This is a small fix for dropmenu icons */
.dropmenu span, #profile_menu span {
	margin: -1px 5px 0 0;
}
/* Top row */
.generic_icons.help {
	background-position: 0 0;
	margin: 0 5px 3px 0;
}
.generic_icons.gender_Female {
	background-position: -16px 0;
}
.generic_icons.last_post {
	background-position: -32px 0;
}
.generic_icons.mail {
	background-position: -48px 0;
}
.generic_icons.liked_users, .generic_icons.liked_messages, .generic_icons.like {
	background-position: -64px 0;
}
.generic_icons.sort_up {
	background-position: -80px 0;
}
.generic_icons.delete, .generic_icons.hide_popup {
	background-position: -96px 0;
}
.generic_icons.sticky {
	background-position: -112px 0;
}
/* 2nd row */
.generic_icons.error {
	background-position: 0 -16px;
}
.generic_icons.gender_Male {
	background-position: -16px -16px;
}
.generic_icons.www {
	background-position: -32px -16px;
}
.generic_icons.mail_new {
	background-position: -48px -16px;
}
.generic_icons.unlike {
	background-position: -64px -16px;
}
.generic_icons.sort_down {
	background-position: -80px -16px;
}
.generic_icons.filter {
	background-position: -96px -16px;
	margin: 0 5px 0 0;
}
.generic_icons.lock {
	background-position: -112px -16px;
}
/* 3rd row */
.generic_icons.valid {
	background-position: 0 -32px;
}
.generic_icons.check {
	background-position: -16px -32px;
}
.generic_icons.invalid {
	background-position: -32px -32px;
}
.generic_icons.watch {
	background-position: -96px -32px;
}
.generic_icons.move {
	background-position: -112px -32px;
}
/* 4th row */
.generic_icons.general, .generic_icons.boards, .generic_icons.topics_views {
	background-position: 0 -48px;
}
.generic_icons.posters {
	background-position: -16px -48px;
}
.generic_icons.replies, .generic_icons.topics_replies {
	background-position: -32px -48px;
}
.generic_icons.history, .generic_icons.time_online, .generic_icons.scheduled {
	background-position: -48px -48px;
}
.generic_icons.views {
	background-position: -64px -48px;
}
.generic_icons.starters, .generic_icons.people, .generic_icons.membergroups {
	background-position: -80px -48px;
}
.generic_icons.poll {
	background-position: -96px -48px;
}
/* 5th row */
.generic_icons.inbox {
	background-position: 0 -64px;
}
.generic_icons.switch {
	background-position: -16px -64px;
}
.generic_icons.replied {
	background-position: -32px -64px;
}
.generic_icons.im_on {
	background-position: -48px -64px;
}
.generic_icons.im_off {
	background-position: -64px -64px;
}
.generic_icons.del_small {
	background-position: -80px -64px;
	cursor: pointer;
	width: 9px;
	height: 9px;
}
.generic_icons.split_desel {
	background-position: -96px -64px;
}
.generic_icons.split_sel {
	background-position: -112px -64px;
}
/* 6th row */
.generic_icons.warning_mute {
	background-position: 0px -80px;
}
.generic_icons.warning_moderate {
	background-position: -16px -80px;
}
.generic_icons.warning_watch {
	background-position: -32px -80px;
}
.generic_icons.openid {
	background-position: -48px -80px;
}
.generic_icons.calendar_export {
	background-position: -64px -80px;
}
.generic_icons.calendar {
	background-position: -80px -80px;
}
.generic_icons.calendar_modify {
	background-position: -96px -80px;
}
.generic_icons.plus {
	background-position: -112px -80px;
}
/* 7th row */
.generic_icons.warning {
	background-position: 0 -98px;
}
.generic_icons.themes {
	background-position: -19px -97px;
}
.generic_icons.support {
	background-position: -36px -97px;
}
.generic_icons.stats {
	background-position: -54px -97px;
}
.generic_icons.right_arrow {
	background-position: -72px -102px;
}
.generic_icons.left_arrow {
	background-position: -86px -102px;
}
.generic_icons.smiley {
	background-position: -95px -97px;
}
.generic_icons.server {
	background-position: -112px -97px;
}
/* 8th row */
.generic_icons.security {
	background-position: 0 -114px;
}
.generic_icons.ban {
	background-position: -18px -113px;
}
.generic_icons.boards  {
	background-position: -35px -113px;
}
.generic_icons.regcenter {
	background-position: -55px -113px;
}
.generic_icons.posts {
	background-position: -74px -112px;
}
.generic_icons.post_moderation_moderate {
	background-position: -92px -113px;
}
.generic_icons.post_moderation_deny {
	background-position: -112px -113px;
}
/* 9th row */
.generic_icons.post_moderation_attach {
	background-position: -1px -130px;
}
.generic_icons.post_moderation_allow {
	background-position: -15px -129px;
	margin: 0 2px 0 -2px;
}
.generic_icons.personal_message {
	background-position: -31px -130px;
}
.generic_icons.permissions {
	background-position: -46px -130px;
	width: 12px;
	margin: 1px 8px 0 0;
}
.generic_icons.paid {
	background-position: -59px -130px;
}
.generic_icons.packages {
	background-position: -77px -130px;
}
.generic_icons.package_ops {
	background-position: -92px -130px;
}
.generic_icons.reports {
	background-position: -112px -130px;
}
/* 10th row */
.generic_icons.news {
	background-position: -2px -149px;
}
.generic_icons.modifications {
	background-position: -22px -148px;
}
.generic_icons.maintain {
	background-position: -39px -148px;
}
.generic_icons.administration {
	background-position: -57px -147px;
}
.generic_icons.frenemy {
	background-position: -74px -147px;
}
.generic_icons.attachment {
	background-position: -94px -148px;
}
.generic_icons.languages {
	background-position: -110px -149px;
}
/* 11th row */
.generic_icons.members_request {
	background-position: -1px -166px;
}
.generic_icons.members_delete {
	background-position: -20px -165px;
}
.generic_icons.members {
	background-position: -39px -166px;
}
.generic_icons.members_watched {
	background-position: -55px -166px;
}
.generic_icons.corefeatures {
	background-position: -74px -168px;
}
.generic_icons.calendar {
	background-position: -93px -166px;
}
.generic_icons.logs {
	background-position: -110px -165px;
}
/* 12th row */
.generic_icons.search, .generic_icons.engines {
	background-position: 0 -183px;
}
.generic_icons.features {
	background-position: -22px -184px;
}
.generic_icons.exit {
	background-position: -39px -184px;
}
.generic_icons.drafts {
	background-position: -55px -182px;
}
.generic_icons.current_theme {
	background-position: -73px -183px;
}
.generic_icons.change_menu2 {
	background-position: -94px -185px;
}
.generic_icons.change_menu {
	background-position: -110px -185px;
}

.topic-icon:before {
	background: url(../images/icons/topic.png) no-repeat;
	display: inline-block;
	content: ' ';
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
.topic-icon-hot_poll:before {
	background-position: -5px -5px;
}
.topic-icon-hot_poll_locked:before {
	width: 20px;
	height: 16px;
	background-position: -31px -5px;
}
.topic-icon-hot_poll_locked_sticky:before {
	width: 20px;
	height: 16px;
	background-position: -61px -5px;
}
.topic-icon-hot_poll_sticky:before {
	width: 20px;
	height: 16px;
	background-position: -91px -5px;
}
.topic-icon-hot_post:before {
	background-position: -121px -5px;
}
.topic-icon-hot_post_locked:before {
	width: 20px;
	height: 16px;
	background-position: -147px -5px;
}
.topic-icon-hot_post_locked_sticky:before {
	width: 20px;
	height: 16px;
	background-position: -5px -31px;
}
.topic-icon-hot_post_sticky:before {
	width: 20px;
	height: 16px;
	background-position: -35px -31px;
}
.topic-icon-my_hot_poll:before {
	background-position: -65px -31px;
}
.topic-icon-my_hot_poll_locked:before {
	width: 20px;
	height: 16px;
	background-position: -91px -31px;
}
.topic-icon-my_hot_poll_locked_sticky:before {
	width: 20px;
	height: 16px;
	background-position: -121px -31px;
}
.topic-icon-my_hot_poll_sticky:before {
	width: 20px;
	height: 16px;
	background-position: -151px -31px;
}
.topic-icon-my_hot_post:before {
	background-position: -5px -57px;
}
.topic-icon-my_hot_post_locked:before {
	width: 23px;
	height: 16px;
	background-position: -31px -57px;
}
.topic-icon-my_hot_post_locked_sticky:before {
	width: 23px;
	height: 16px;
	background-position: -64px -57px;
}
.topic-icon-my_hot_post_sticky:before {
	width: 23px;
	height: 16px;
	background-position: -97px -57px;
}
.topic-icon-my_normal_poll:before {
	background-position: -130px -57px;
}
.topic-icon-my_normal_poll_locked:before {
	width: 23px;
	height: 16px;
	background-position: -156px -57px;
}
.topic-icon-my_normal_poll_locked_sticky:before {
	width: 23px;
	height: 16px;
	background-position: -5px -83px;
}
.topic-icon-my_normal_poll_sticky:before {
	width: 23px;
	height: 16px;
	background-position: -38px -83px;
}
.topic-icon-my_normal_post:before {
	background-position: -71px -83px;
}
.topic-icon-my_normal_post_locked:before {
	width: 23px;
	height: 16px;
	background-position: -97px -83px;
}
.topic-icon-my_normal_post_locked_sticky:before {
	width: 23px;
	height: 16px;
	background-position: -130px -83px;
}
.topic-icon-my_normal_post_sticky:before {
	width: 23px;
	height: 16px;
	background-position: -163px -83px;
}
.topic-icon-my_veryhot_poll:before {
	background-position: -5px -109px;
}
.topic-icon-my_veryhot_poll_locked:before {
	width: 23px;
	height: 16px;
	background-position: -31px -109px;
}
.topic-icon-my_veryhot_poll_locked_sticky:before {
	width: 23px;
	height: 16px;
	background-position: -64px -109px;
}
.topic-icon-my_veryhot_poll_sticky:before {
	width: 23px;
	height: 16px;
	background-position: -97px -109px;
}
.topic-icon-my_veryhot_post:before {
	background-position: -130px -109px;
}
.topic-icon-my_veryhot_post_locked:before {
	width: 23px;
	height: 16px;
	background-position: -156px -109px;
}
.topic-icon-my_veryhot_post_locked_sticky:before {
	width: 23px;
	height: 16px;
	background-position: -5px -135px;
}
.topic-icon-my_veryhot_post_sticky:before {
	width: 23px;
	height: 16px;
	background-position: -38px -135px;
}
.topic-icon-normal_poll:before {
	background-position: -71px -135px;
}
.topic-icon-normal_poll_locked:before {
	width: 23px;
	height: 16px;
	background-position: -97px -135px;
}
.topic-icon-normal_poll_locked_sticky:before {
	width: 23px;
	height: 16px;
	background-position: -130px -135px;
}
.topic-icon-normal_poll_sticky:before {
	width: 23px;
	height: 16px;
	background-position: -163px -135px;
}
.topic-icon-normal_post:before {
	background-position: -5px -161px;
}
.topic-icon-normal_post_locked:before {
	width: 23px;
	height: 16px;
	background-position: -31px -161px;
}
.topic-icon-normal_post_locked_sticky:before {
	width: 23px;
	height: 16px;
	background-position: -64px -161px;
}
.topic-icon-normal_post_sticky:before {
	width: 23px;
	height: 16px;
	background-position: -97px -161px;
}
.topic-icon-veryhot_poll:before {
	background-position: -130px -161px;
}
.topic-icon-veryhot_poll_locked:before {
	width: 23px;
	height: 16px;
	background-position: -156px -161px;
}
.topic-icon-veryhot_poll_locked_sticky:before {
	width: 23px;
	height: 16px;
	background-position: -177px -5px;
}
.topic-icon-veryhot_poll_sticky:before {
	width: 23px;
	height: 16px;
	background-position: -181px -31px;
}
.topic-icon-veryhot_post:before {
	background-position: -189px -57px;
}
.topic-icon-veryhot_post_locked:before {
	width: 23px;
	height: 16px;
	background-position: -196px -83px;
}
.topic-icon-veryhot_post_locked_sticky:before {
	width: 23px;
	height: 16px;
	background-position: -189px -109px;
}
.topic-icon-veryhot_post_sticky:before {
	width: 23px;
	height: 16px;
	background-position: -196px -135px;
}

/* The icons. */
.large-admin-menu-icon:before {
	background: url(../images/icons/admin_icons_hd.png) no-repeat;
	margin: 0 auto;
	display: block;
	content: '';
	width: 32px;
	height: 32px;
}
.large-admin-menu-icon.attachment:before {
	background-position: -5px -5px;
}
.large-admin-menu-icon.ban:before {
	background-position: -47px -5px;
}
.large-admin-menu-icon.boards:before {
	background-position: -89px -5px;
}
.large-admin-menu-icon.calendar:before {
	background-position: -131px -5px;
}
.large-admin-menu-icon.current_theme:before {
	background-position: -173px -5px;
}
.large-admin-menu-icon.default:before {
	background-position: -5px -47px;
}
.large-admin-menu-icon.engines:before {
	background-position: -47px -47px;
}
.large-admin-menu-icon.exit:before {
	background-position: -89px -47px;
}
.large-admin-menu-icon.features:before {
	background-position: -131px -47px;
}
.large-admin-menu-icon.languages:before {
	background-position: -173px -47px;
}
.large-admin-menu-icon.logs:before {
	background-position: -5px -89px;
}
.large-admin-menu-icon.mail:before {
	background-position: -47px -89px;
}
.large-admin-menu-icon.maintain:before {
	background-position: -89px -89px;
}
.large-admin-menu-icon.membergroups:before {
	background-position: -131px -89px;
}
.large-admin-menu-icon.members:before {
	background-position: -173px -89px;
}
.large-admin-menu-icon.modifications:before {
	background-position: -5px -131px;
}
.large-admin-menu-icon.news:before {
	background-position: -47px -131px;
}
.large-admin-menu-icon.packages:before {
	background-position: -89px -131px;
}
.large-admin-menu-icon.paid:before {
	background-position: -131px -131px;
}
.large-admin-menu-icon.permissions:before {
	background-position: -173px -131px;
}
.large-admin-menu-icon.posts:before {
	background-position: -5px -173px;
}
.large-admin-menu-icon.regcenter:before {
	background-position: -47px -173px;
}
.large-admin-menu-icon.reports:before {
	background-position: -89px -173px;
}
.large-admin-menu-icon.scheduled:before {
	background-position: -131px -173px;
}
.large-admin-menu-icon.search:before {
	background-position: -173px -173px;
}
.large-admin-menu-icon.security:before {
	background-position: -215px -5px;
}
.large-admin-menu-icon.server:before {
	background-position: -215px -47px;
}
.large-admin-menu-icon.smiley:before {
	background-position: -215px -89px;
}
.large-admin-menu-icon.support:before {
	background-position: -215px -131px;
}
.large-admin-menu-icon.themes:before {
	background-position: -215px -173px;
}
.large-admin-menu-icon.warning:before {
	background-position: -5px -215px;
}

#admin_menu .admin-menu-icon:before {
	padding-left: 9px;
}
.admin-menu-icon:before {
	width: 16px;
	height: 16px;
	background: url(../images/icons/admin_icons.png) no-repeat;
	vertical-align: middle;
	display: inline-block;
	content: '';
}
.admin-menu-icon.administration:before {
    background-position: -5px -5px;
}
.admin-menu-icon.alerts:before {
    background-position: -31px -5px;
}
.admin-menu-icon.attachment:before {
    background-position: -57px -5px;
}
.admin-menu-icon.ban:before {
    background-position: -83px -5px;
}
.admin-menu-icon.boards:before {
    background-position: -109px -5px;
}
.admin-menu-icon.calendar:before {
    background-position: -135px -5px;
}
.admin-menu-icon.current_theme:before {
    background-position: -5px -31px;
}
.admin-menu-icon.drafts:before {
    background-position: -31px -31px;
}
.admin-menu-icon.engines:before {
    background-position: -57px -31px;
}
.admin-menu-icon.exit:before {
    background-position: -83px -31px;
}
.admin-menu-icon.features:before {
    background-position: -109px -31px;
}
.admin-menu-icon.frenemy:before {
    background-position: -135px -31px;
}
.admin-menu-icon.ignore:before {
    width: 16px;
    height: 15px;
    background-position: -5px -57px;
}
.admin-menu-icon.languages:before {
    background-position: -31px -57px;
}
.admin-menu-icon.logs:before {
    background-position: -57px -57px;
}
.admin-menu-icon.mail:before {
    background-position: -83px -57px;
}
.admin-menu-icon.maintain:before {
    background-position: -109px -57px;
}
.admin-menu-icon.membergroups:before {
    background-position: -135px -57px;
}
.admin-menu-icon.members:before {
    background-position: -5px -83px;
}
.admin-menu-icon.members_delete:before {
    background-position: -31px -83px;
}
.admin-menu-icon.members_request:before {
    background-position: -57px -83px;
}
.admin-menu-icon.members_watched:before {
    background-position: -83px -83px;
}
.admin-menu-icon.modifications:before {
    background-position: -109px -83px;
}
.admin-menu-icon.news:before {
    background-position: -135px -83px;
}
.admin-menu-icon.openid:before {
    background-position: -5px -109px;
}
.admin-menu-icon.package_ops:before {
    background-position: -31px -109px;
}
.admin-menu-icon.packages:before {
    background-position: -57px -109px;
}
.admin-menu-icon.paid:before {
    background-position: -83px -109px;
}
.admin-menu-icon.permissions:before {
    background-position: -109px -109px;
}
.admin-menu-icon.personal_message:before {
    background-position: -135px -109px;
}
.admin-menu-icon.post_moderation_allow:before {
    background-position: -5px -135px;
}
.admin-menu-icon.post_moderation_attach:before {
    background-position: -31px -135px;
}
.admin-menu-icon.post_moderation_deny:before {
    background-position: -57px -135px;
}
.admin-menu-icon.post_moderation_moderate:before {
    background-position: -83px -135px;
}
.admin-menu-icon.posts:before {
    background-position: -109px -135px;
}
.admin-menu-icon.regcenter:before {
    background-position: -135px -135px;
}
.admin-menu-icon.reports:before {
    background-position: -161px -5px;
}
.admin-menu-icon.scheduled:before {
    background-position: -161px -31px;
}
.admin-menu-icon.search:before {
    background-position: -161px -57px;
}
.admin-menu-icon.security:before {
    background-position: -161px -83px;
}
.admin-menu-icon.server:before {
    background-position: -161px -109px;
}
.admin-menu-icon.smiley:before {
    background-position: -161px -135px;
}
.admin-menu-icon.stats:before {
    background-position: -5px -161px;
}
.admin-menu-icon.subsection:before {
    width: 12px;
    height: 12px;
    background-position: -187px -5px;
}
.admin-menu-icon.subsection_rtl:before {
    width: 12px;
    height: 12px;
    background-position: -187px -27px;
}
.admin-menu-icon.support:before {
    background-position: -31px -161px;
}
.admin-menu-icon.themes:before {
    background-position: -57px -161px;
}
.admin-menu-icon.warning:before {
    background-position: -83px -161px;
}