/* Styles for the general looks for the Curve2 theme.
----------------------------------------------------- */

/* Normal, standard links. */
a {
	color: #346;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* Links that open in a new window. */
a.new_win {
	color: #346;
	text-decoration: none;
}
a.new_win:hover {
	text-decoration: underline;
}

html {
	background: #e6e7e8;
}
/* Set a font-size that will look the same in all browsers. */
body {
	background: #194c6e;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
body>.container,
body>.smalltext {
	background: #fefefe;
}
body>.smalltext {
	margin: 0 !important;
	padding: 2em;
}

/* Help popups require a different styling of the body element. */
/* Deprecated? */
body#help_popup {
	padding: 12px;
}

ul#likes li {
	clear: both;
}

ul#likes span.avatar {
	width: 45px;
	height: 45px;
	padding: 2px;
}
ul#likes span.avatar img {
	max-height: 40px;
}

/* Tables should show empty cells. */
table {
	empty-cells: show;
}

/* Box sizing for the masses. Very handy for stabilising fluid layouts. */
/* Makes sense to default most elements to zero padding and margin. */
/* <p> is a possible exception for margins. Must test that one a bit. */
/* IMPORTANT: Do not declare div globally here. Doing that does odd things to jQuery menus. */
p, ul, ol, li, fieldset, form {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Set list-style to none by default. Best in most places.*/
ul, ol {
	list-style: none;
}

/* A quick reset list class. */
ul.reset, ul.reset li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.pagination {
	margin: 0;
}

/* No image should have a border when linked. */
a img {
	border: 0;
}

/* Those collapse and expand icons are wonderful.  */
.toggle_up, .toggle_down, .go_up, .go_down {
	width: 17px;
	height: 17px;
	display: inline-block;
	background: url(../images/toggle.png) no-repeat 0 0;
	text-indent: -100em;
	overflow: hidden;
}
.toggle_down, .go_down {
	background-position: 0 -17px;
}
/* And the sort up/down icons too. */
.sort_up, .sort_down {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(../images/generic_icons.png) no-repeat -80px 0;
	text-indent: -100em;
	overflow: hidden;
}
.sort_down {
	background-position: -80px -16px;
}
/* Generally, those [?] icons.  This makes your cursor a help icon. */
.help {
	cursor: help;
}
.help .icon {
	margin: 0;
	cursor: help;
	opacity: 0.8;
}
.help .icon:hover {
	opacity: 1;
}
/* /me uses this a lot. (emote, try typing /me in a post.) */
.meaction {
	color: red;
}

/* Highlighted text - such as search results. */
.highlight {
	font-weight: bold;
	color: #ff7200 !important;
	font-size: 1.1em;
}

/* A more discreet highlight color, for selected membergroups etc. */
/* Could be deprecated. */
.highlight2 {
	background: #D1E1EF;
	color: #222 !important;
}
span.new_posts {
	font-size: 8px;
	font-family: verdana, sans-serif;
	vertical-align: middle;
}
a span.new_posts:hover {
	text-decoration: none;
}

/* Generic, mostly color-related, classes.
------------------------------------------------------- */
.catbg select {
	height: 2em;
	font-size: 0.9em;
	padding: 0;
}

/* Sometimes there will be an error when you post */
.error {
	color: red;
}

/* Messages that somehow need to attract the attention. */
.alert {
	color: red;
}

/* Calendar colors for birthdays, events and holidays */
.birthday {
	color: #920ac4;
}

.event {
	color: #078907;
}

.holiday > span {
	color: rgb(0, 92, 255);
}

/* Colors for warnings */
.warn_mute {
	color: red;
}

.warn_moderate {
	color: #ffa500;
}

.warn_watch, .success {
	color: green;
}

a.moderation_link, a.moderation_link:visited {
	color: red;
	font-weight: bold;
}

p.para2 {
	padding: 12px 0 44px 0;
	margin: 0;
}
/* AJAX notification bar
------------------------------------------------------- */
#ajax_in_progress {
	background: #fff;
	border-bottom: 4px solid #f96f00;
	color: #f96f00;
	text-align: center;
	font-size: 1.6em;
	padding: 8px;
	width: 100%;
	line-height: 25px;
	position: fixed;
	top: 0;
	left: 0;
}

#ajax_in_progress a {
	color: orange;
	text-decoration: underline;
	font-size: 0.9em;
	float: right;
	margin-right: 20px;
}

/* Lists with settings use these a lot.
------------------------------------------------------- */
dl.settings {
	display: flex;
	flex-wrap: wrap;
}
dl.settings dd {
	display: table-cell;
}
dl.settings dt, dl.settings dd {
	flex:  0 50%;
	padding: 0.25em 0;
}
/* Styles for rounded headers.
------------------------------------------------------- */
h3, h4, h5 {
	font-family: "Roboto Slab",monospace;
}
div.cat_bar, div.title_bar,div.title_barIC {
	border-bottom: 1px solid #D8D2C2;
	margin: 0.25em 0;
	padding: 0.25em;
}
div.title_barIC h4.titlebg {
	font-size: 1.1em;
}

/* Upshrinks in cat and title bars. */
#upshrinkHeaderIC p.pminfo {
	margin: 0;
	padding: 6px;
}
#quickReplyExpand {
	float: right;
	margin: 2px 2px 0 2px;
}
table.table_list a.unreadlink, table.table_list a.collapse {
	float: right;
}
img.sort, .sort {
	margin-bottom: -4px;
	margin-left: 4px;
}

/* table_grid styles for Profile > Show Permissions. */
#permissions table.table_grid  td {
	padding: 5px 10px;
	cursor: default;
}

.postbg {
	border-left: 1px solid #7f7f7f;
	border-right: 1px solid #7f7f7f;
}

/* Used for combining cat/title headers with a content frame */
.rfix {
	margin-top: -1px;
	border-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/* Styles for the general looks of the theme.
------------------------------------------------------- */
.notice {
	font-weight: bold;
}

.fix_rtl_names {
	display: inline-block;
}

/* Styles for edit post section
---------------------------------------------------- */
form#postmodify .roundframe {
	padding: 12px 12%;
}
#post_header {
	display: flex;
	flex-wrap: wrap;
}
#post_header dt {
	flex: 0 0 20%;
	font-weight: bold;
}
#post_header dd {
	display: table-cell;
	flex: 0 0 80%;
}
#post_header img {
	vertical-align: middle;
}
ul.post_options {
	display: flex;
	flex-wrap: wrap;
}
ul.post_options li {
	flex: 0 0 50%;
}
#postMoreOptions {
	padding: 10px;
}
#postAttachment dd {
	margin: 0 12px;
}
#postAttachment2 dd {
	margin: 4px 12px;
}
#postAttachment {
	display: flex;
	flex-wrap: wrap;
}
#postAttachment dd.smalltext:not(:nth-of-type(1)) {
	flex: 0 0 40%;
}
#postAttachment dt, #postAttachment2 dt {
	font-weight: bold;
}
#postDraftOptions {
	background: #fdfdfd;
	border: 1px solid #aaa;
	border-left: 1px solid #bbb;
	border-top: none;
	border-radius: 0 0 4px 4px;
}
#postDraftOptions .settings dd, #postDraftOptions .settings dt{
	width: 50%;
	border-top: 1px solid #e4e4e4;
	padding: 5px 10px;
	margin: 0;
}
#postDraftOptions .settings dd:first-of-type, #postDraftOptions .settings dt:first-child{
	border-top: none; /* Some people are OCD, like me. :P */
}
#postDraftOptions .settings strong{
	color: #555;
}
#post_confirm_strip /* < That may be deprecated. */, #shortcuts {
	padding: 12px 0;
}
#post_confirm_buttons .smalltext {
	padding: 0 10px;
}
.post_verification {
	margin-top: 6px;
}
.post_verification #verification_control {
	margin: 4px 0 4px 12px;
}
/* The BBC buttons */
#bbcBox_message {
	margin: 10px 6px;
}
#bbcBox_message div {
	margin: 2px 0;
	vertical-align: top;
}
#bbcBox_message div img {
	margin: 0 1px 0 0;
	vertical-align: top;
}
#bbcBox_message select {
	margin: 0 2px;
}
/* The smiley strip */
#smileyBox_message {
	margin: 6px;
}

/* Styles for edit event section
---------------------------------------------------- */
#post_event .roundframe {
	padding: 12px 12%;
	overflow: auto;
}
#post_event fieldset {
	padding: 6px;
	clear: both;
}
#post_event #event_main input {
	margin: 0 0 12px 0;
	float: left;
}
#post_event #event_main div.smalltext {
	width: 34.6em;
	float: right;
}
#post_event div.event_options {
	float: right;
}
#post_event .event_main, .event_options {
	padding: 0;
	overflow: hidden;
}
#post_event ul.event_main li {
	list-style-type: none;
	margin: 2px 0;
	width: 49%;
	float: left;
}
#post_event ul.event_options {
	margin: 0;
	padding: 0 0 8px 8px;
}
#post_event ul.event_options li {
	list-style-type: none;
	margin: 0;
	float: left;
}
#post_event #event_main select, #post_event ul.event_options li select, #post_event ul.event_options li .input_check {
	margin: 0 12px 0 0;
}

/* Styles for edit poll section.
---------------------------------------------------- */

#edit_poll {
	overflow: hidden;
}
#edit_poll fieldset {
	padding: 6px;
	clear: both;
	overflow: hidden;
}
#edit_poll fieldset input {
	margin-left: 7.5em;
}
#edit_poll ul.poll_main li {
	padding-left: 12px;
}
#edit_poll ul.poll_main input {
	margin-left: 12px;
}
#edit_poll ul.poll_main, dl.poll_options {
	overflow: hidden;
	padding: 0 0 8px 8px;
}
#edit_poll ul.poll_main li {
	margin: 2px 0;
}
#edit_poll dl.poll_options dt {
	width: 33%;
	padding: 0 0 0 12px;
}
#edit_poll dl.poll_options dd {
	width: 65%;
}
#edit_poll dl.poll_options dd input {
	margin-left: 0;
}

/* Styles for the recent messages section.
---------------------------------------------------- */
.pagelinks ul {
	margin: 0;
}
#recent {
	clear: both;
}

/* Styles for the move topic section.
---------------------------------------------------- */

#move_topic dl {
	margin-bottom: 0;
}
#move_topic dl.settings dt {
	width: 40%;
}
#move_topic dl.settings dd {
	width: 59%;
}
.move_topic {
	width: 710px;
	margin: auto;
	text-align: left;
}
div.move_topic fieldset {
	padding: 6px;
}

/* Styles for the send topic section.
---------------------------------------------------- */

fieldset.send_topic {
	border: none;
	padding: 6px;
}
dl.send_topic {
	margin-bottom: 0;
}
dl.send_mail dt {
	width: 35%;
}
dl.send_mail dd {
	width: 64%;
}

/* Styles for the report topic section.
---------------------------------------------------- */

#report_topic dl {
	margin-bottom: 0;
}
#report_topic dl.settings dt {
	width: 20%;
}
#report_topic dl.settings dd {
	width: 79%;
}
#report_comment {
	width: 70%;
}

/* Styles for the split topic section.
---------------------------------------------------- */

div#selected, div#not_selected {
	width: 49%;
}
ul.split_messages li.windowbg, ul.split_messages li.windowbg2 {
	margin: 1px;
}
ul.split_messages li a.split_icon {
	padding: 0 6px;
}
ul.split_messages div.post {
	padding: 12px 0 0 0;
	border-top: 1px solid #fff;
}

/* Styles for the merge topic section.
---------------------------------------------------- */
ul.merge_topics li {
	list-style-type: none;
}
dl.merge_topic dt {
	width: 25%;
}
dl.merge_topic dd {
	width: 74%;
}
fieldset.merge_options {
	clear: both;
}
.custom_subject {
	margin: 6px 0;
}

/* Styles for the login areas.
------------------------------------------------------- */
.login {
	width: 540px;
	margin: 0 auto;
}
.login dl {
	overflow: auto;
	clear: right;
}
.login dt, .login dd {
	margin: 0 0 5px 0;
	width: 44%;
	padding: 1px;
}
.login dt {
	float: left;
	clear: both;
	text-align: right;
	font-weight: bold;
}
.login dd {
	width: 54%;
	float: right;
	text-align: left;
}
.login p {
	text-align: center;
}

/* Additional register fields */
dl.register_form {
	margin: 0;
	clear: right;
}
dl.register_form dt {
	font-weight: normal;
	float: left;
	clear: both;
	width: 50%;
	margin: 6px 0 0 0;
}
dl.register_form dt span {
	display: block;
}
dl.register_form dd {
	float: left;
	width: 49%;
	margin: 6px 0 0 0;
}
#confirm_buttons {
	text-align: center;
	padding: 12px 0;
}
.coppa_contact {
	padding: 4px;
	width: 32ex;
	background: #fff;
	color: #222;
	margin-left: 5ex;
	border: 1px solid #222;
}
.valid_input {
	background: #f5fff0;
}
.invalid_input {
	background: #fff0f0;
}

/* Styles for maintenance mode.
------------------------------------------------------- */
#maintenance_mode {
	width: 75%;
	min-width: 520px;
	text-align: left;
}
#maintenance_mode img.floatleft {
	margin-right: 12px;
}

/* common for all admin sections */
h3.titlebg img {
	vertical-align: middle;
	margin: 0 5px 0 0;
}
tr.titlebg td {
	padding-left: 8px;
}
#admin_login .centertext {
	padding: 12px;
}
#admin_login .centertext .error {
	padding: 0 0 12px 0;
}
#admin_login .centertext a.help img {
	vertical-align: middle;
}

tr.windowbg td, tr.windowbg2 td, tr.highlight2 td, .table_grid tr td {
	padding: 4px 8px;
}
#credits p {
	padding: 0;
	font-style: italic;
	margin: 0;
}

/* Styles for generic tables.
------------------------------------------------------- */

.errorfile_table {
	background: #f0f4f7;
	border-spacing: 3px;
	border-collapse: collapse;
}
.errorfile_table td.current {
	font-weight: bold;
	border: 1px solid black;
	border-width: 1px 0 1px 1px;
}

/* Styles for (fatal) errors.
------------------------------------------------- */

#fatal_error {
	width: 80%;
	margin: auto;
}
.errorbox h3 {
	padding: 0;
	margin: 0;
	font-size: 1.1em;
	text-decoration: underline;
	display: inline-block;
}
.errorbox p {
	margin: 12px 0 0 0;
}
.errorbox p.alert {
	padding: 0;
	margin: 0 4px 0 0;
	float: right;
	width: 12px;
	font-size: 1.5em;
}
.errorbox span {
	text-decoration: underline;
}

/* Styles for info boxes
------------------------------------------------- */

.errorbox:before, .noticebox:before, .infobox:before, .descbox:before {
	font-family: FontAwesome;
	font-size: 0.9em;
	margin-right: 0.5em;
}
.errorbox, .noticebox, .infobox, .descbox  {
	border: 1px solid #fff;
	padding: 0.5em 1em;
	margin: 6px 0;
}
.errorbox:before {
	content: "\f071";
}
.noticebox:before {
	content: "\f06a";
}
.infobox:before {
	content: "\f058";
}
.descbox:before {
	content: "\f05a";
}
.errorbox  {
	background-color:#f2dede;border-color:#eed3d7;color:#b94a48;
}
.noticebox  {
	background-color:#fcf8e3;border-color:#fbeed5;color:#c09853;
}
.infobox  {
	background-color:#f1f9f7;border-color:#e0f1e9;color:#1d9d74;
}
.descbox  {
	background-color:#f0f9ff;border-color:#ccf3ff;color:#007dbc;
}

/* Styles for the profile section.
------------------------------------------------- */

#personal_picture {
	display: block;
	margin-bottom: 4px;
}
#avatar_server_stored div {
	float: left;
}
#avatar_upload {
	overflow: auto;
}

/* View posts */
.topic .time {
	float: right;
}
.counter {
	margin: 0 0 0 0;
	padding: 5px 6px 1px 2px;
	font-size: 2.2em;
	font-weight: bold;
	color: #3f3f3f;
	float: left;
}
.topic_details {
	border-bottom: 1px solid #999;
	padding: 0 4px 4px 4px;
}
.list_posts {
	border-top: 1px solid #ccc;
	box-shadow: 0 1px 0 #fff inset;
	padding-top: 12px;
	margin: 0;
	overflow: auto;
	word-break: hyphenate;
	word-wrap: break-word;
}
.topic h4 {
	margin: 3px 0;
}
.topic .post {
	margin: 0 12px;
	min-height: 80px;
	height: auto !important;
	height: 80px;
}
.topic .mod_icons {
	text-align: right;
	margin-right: 12px;
}

#tracking div.content dl {
	border-bottom: 0;
	margin: 0;
	padding: 0;
}

#creator dl {
	margin: 0;
}
#creator dt {
	width: 40%;
	float: left;
	clear: both;
	margin: 0 0 10px 0;
}
#creator dd {
	float: right;
	width: 55%;
	margin: 0 0 10px 2px;
	overflow: auto;
}
.centericon {
	vertical-align: middle;
}
.sizefix {
	width: 16px;
	height: 16px;
}

#theme_settings {
	overflow: auto;
	margin: 0;
	padding: 0;
}

#theme_settings li {
	margin: 10px 0;
	padding: 0;
}
/*Issue a warning*/
#warn_body{
	width: 80%;
	font-size: 0.9em;
}
dl.stats {
	display: -webkit-flex;
	display: flex;
}
dl.stats dt {
   /* This will be twice as big as the small item. */
   -webkit-flex: 2 0 0;
   flex: 2 0 0;
}
dl.stats dd {
	text-align: right;
   -webkit-flex: 1 0 0;
   flex: 1 0 0;
}
/* Methinks topic links, etc need a little more oomph next to the orange bars. */
/* Open to suggestions. */
#stats_left dt a {
	color: #232f46;
}
.top_row dl.stats dd {
	background: none; border: none;
}
/* Give a bit more room for the date here. */
#stats_left dt {
	width: 35%;
}
#stats_left dd {
	width: 65%;
}
.statsbar div.bar {
	float: left;
	background: orange;
	border-right: 1px solid #999;
	border-radius: 1px 0 0 1px;
	box-shadow: 4px -4px 8px rgba(0,0,0,0.1) inset, 4px 4px 8px rgba(255,255,255,0.3) inset;
	display: block;

	margin: 0 4px 0 0;
	height: 1.4em;
}
.statsbar div.bar.empty {
	width: 0;
	border-right: none;
}
/* Absolute positioning stops these breaking the bars on narrow screens. */
dl.stats dd span {
	padding: 0 2px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	background: #fff;
	white-space: pre;
}

/* Styles for the personal messages section.
------------------------------------------------- */

#personal_messages h3 span#author, #personal_messages h3 span#topic_title {
	float: left;
}
#personal_messages h3 span#author {
	margin: 0 0 0 6px;
}
#personal_messages h3 span#topic_title {
	margin: 0 0 0 9em;
}
#personal_messages div.labels {
	padding: 0 12px 0 0;
}
#personal_messages .capacity_bar {
	background: #f0f4f7;
	display: block;
	margin: 6px 0 0 12px;
	height: 12px;
	border: 1px solid #adadad;
	width: 10em;
}
#personal_messages .capacity_bar span {
	border-right: 1px solid #adadad;
	display: block;
	height: 12px;
}
#personal_messages .capacity_bar span.empty {
	background: #a6d69d;
}
#personal_messages .capacity_bar span.filled {
	background: #eea800;
}
#personal_messages .capacity_bar span.full {
	background: #f10909;
}
#personal_messages .reportlinks {
	padding: 6px 1.3em;
}
#searchLabelsExpand li {
	padding: 4px 6px;
}
#manrules div.righttext {
	padding: 4px 1px;
}
dl.addrules dt.floatleft {
	width: 15em;
	color: #333;
	padding: 0 15px 6px 15px;
}
#addrule fieldset {
	clear: both;
}
#to_item_list_container div, #bcc_item_list_container div {
	float:left;
	margin-right:10px;
}

/* Styles for the memberlist section.
------------------------------------------------- */
#mlist_search {
	margin: auto;
	width: 500px;
}
#mlist .selected {
	white-space: nowrap;
}
#mlist .is_online {
	width: 60px;
}
#mlist .email_address {
	width: 25px;
}
#mlist .website_url {
	width: 70px;
}
#mlist .icq, #mlist .aim, #mlist .yim, #mlist .skype {
	width: 30px;
}
#mlist .posts {
	width: 115px;
}

/* Styles for the basic search section.
------------------------------------------------- */
#simple_search p {
	padding: 6px;
	margin: 0;
}
#simple_search, #simple_search p, #advanced_search {
	text-align: center !important;
	margin: 0;
}
#search_error {
	font-style: italic;
	padding: 4px 12px;
}
#search_term_input {
	font-size: 1.1em;
	margin: 0 0 12px;
}

/* Styles for the advanced search section.
------------------------------------------------- */
#searchform fieldset {
	text-align: left;
	padding: 0;
	border: none;
}
#advanced_search dl#search_options {
	margin: 0 auto;
	width: 600px;
	padding-top: 12px;
	overflow: hidden;
}
#advanced_search dt {
	clear: both;
	float: left;
	padding: 2px;
	text-align: right;
	width: 20%;
}
#advanced_search dd {
	width: 75%;
	float: left;
	padding: 2px;
	margin: 0 0 0 6px;
	text-align: left;
}
#searchform p.clear {
	clear: both;
}
#searchform .roundframe h4.titlebg {
	border-bottom: none;
}

/* Styles for the search results page.
------------------------------------------------- */
.topic_table td blockquote, .topic_table td .quoteheader {
	margin: 6px;
}
.search_results_posts {
	overflow: hidden;
}
.search_results_posts .buttons {
	padding: 5px 12px 0 0;
}

/* Styles for the help section.
------------------------------------------------- */

#help_container {
	margin: 0 0 0 0;
	padding: 0 0 8px 0;
	overflow: auto;
}
#helpmain p {
	margin: 10px 0;
	line-height: 1.5em;
}
#helpmain ul {
	line-height: 2em;
	margin: 0 0 0 25px;
}
#helpmain ul li{
	list-style-type: disc;
}
#helpmain ul li a {
	font-weight: bold;
}

/* Styles for print media.
------------------------------------------------------- */
@media print {
	#headerarea
	{
		display: none;
	}

	.tborder
	{
		border: none;
	}
}

/* Styles for the tooltips
------------------------------------------------------- */
.tooltip {
	position: absolute;
	z-index: 999;
	left: -9999px;
	word-wrap: break-word;
	max-width: 350px;
	padding: 0 0.2em;
	color: #333;
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 1px 2px 4px rgba(0,0,0,0.2), 0 0px 10px rgba(0,0,0,0.05) inset;
}

/* Styles for popup windows
------------------------------------------------------- */
.popup_container
{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(40,64,80,0.5);
}
.popup_window
{
	position: fixed;
	width: 480px;
	border-radius: 6px;
	border: 1px solid #666;
	box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
	background-color: #FFFFFF;
}
.popup_heading
{
	margin: 0;
	padding: 10px;
	color: #bf6900;
	background-color: #f7f8f9;
	box-shadow: inset 0 -8px 9px -6px #aaa;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.popup_content
{
	color: #222;
	max-height: 20em;
	overflow: auto;
	margin: 0;
	padding: 0.5em 1em 0.75em;
}
.popup_heading .hide_popup
{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/generic_icons.png) no-repeat -96px 0;
	float: right;
}
.popup_heading .icon
{
	vertical-align: middle;
	margin: -4px 4px 0 0;
}

/* Styles for the progress bar
-------------------------------------------------- */
.progress_bar {
	height: 15pt;
	border: 1px solid black;
	background-color: white;
	padding: 3px;
	width: 80%;
	margin: 20px auto 0 auto; /* Top padding should get rid of the <br /> tags in admin for these bars. */
	position: relative;
	border-radius: 5px;
	box-shadow: inset 0 2px 5px rgba(0,0,0,0.05);
}
.progress_bar div.full_bar {
	padding-top: 1pt;
	width: 100%;
	color: black;
	position: absolute;
	text-align: center;
	font-weight: bold;
	border-radius: 3px;
	z-index: 2;
}
.progress_bar div.green_percent {
	height: 15pt;
	background-color: #c1ffc1;
	background-image: -webkit-linear-gradient(top, #c1ffc1, green);
	background-image: linear-gradient(to bottom, #c1ffc1, green);
	border-radius: 3px;
	z-index: 1;
}
.progress_bar div.blue_percent {
	height: 15pt;
	background-color: #98b8f4;
	background-image: -webkit-linear-gradient(top, #98b8f4, blue);
	background-image: linear-gradient(to bottom, #98b8f4, blue);
	border-radius: 3px;
	z-index: 1;
}
.generic_list_wrapper {
	margin-top: -5px;
}
.generic_list_wrapper .title_bar{
	background: none;
	border-bottom: 1px solid #fff;
	border-radius: 0;
}
.generic_list_wrapper .titlebg {
	background: none;
	border-bottom: 1px solid #aaa;
	font-siboxboxze: /*1.1em*/1em;
}
.generic_list_wrapper .additional_row {
	margin: 0;
	padding: 5px 0;
	/*border-top: 1px solid #aaa;*/
	border-radius: 0;
}
.generic_list_wrapper table.table_grid {
	border-bottom: 1px solid #aaa;
}
.table_grid .catbg, .table_grid .catbg th, .table_grid .catbg th a {
	font-size: 1em;
}
.generic_list_wrapper .information .additional_row{
	border: none;
}
.generic_list_wrapper .information {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-bottom: 1px solid #fff;
}
.add_buddy .roundframe, .add_buddy .title_bar {
	background: none;
	border: none;
	max-width: 100%;
}
#activitytime .windowbg2 .flow_hidden {
	background: none;
	border: none;
	box-shadow: none;
}

div#editlang_desc {
	margin-bottom: 8px;
}

/* Some caution required here, as Post.template.php topic summary shares #recent with recent posts. */
#recent .core_posts {
	padding: 8px 0;
}
#recent .core_posts span {
	font-weight: normal;
}
#recent .quickbuttons {
	margin-top: -2px;
}
/* Will find a less verbose way of handling this. */
.action_recent #recent .core_posts, .action_profile #recent .core_posts {
	padding: 8px 12px;
}
.action_recent #recent .quickbuttons {
	margin-top: 8px;
}
/* @todo Some odd inheritance glitch here with font-size. Check it out. */
.topic_details .smalltext {
	font-size: 0.9em;
}
#recent .pagesection {
	padding: 3px 4px;
	margin: 0 0 -10px 0;
}
.quickbuttons > li > a {
	padding: 4px 8px;
}
#info_center{
	margin: 12px 0 0 0;
	padding: 16px 12px 6px 12px;
}
#info_center .cat_bar, .table_grid tr.catbg th, #searchform .roundframe .title_bar {
	border-top: 2px solid #ff9400;
	border-bottom: 2px solid #bf6900;
	background: #fff;
	color: #666;
	border-radius: 2px 2px 0 0;
	text-align: left;
}
.table_grid tr.catbg th.stats {
	text-align: center;
}
.table_grid tr.catbg th.centercol, .table_grid tr.windowbg2 td.centercol, .table_grid tr.windowbg td.centercol, .table_grid tr.highlight2 td.centercol {
	text-align: center;
}
#postmodify .lastedit{
	font-weight: bold;
}

.table_grid td.whos_viewing {
	font-size: 0.9em;
}
/* Colors for background of posts requiring approval */
 .approvebg {
	color: #222;
	background: #ffeaea;
}
#forumposts .approvebg2 {
	color: #222;
	background: #fff2f2;
}

div#manage_boards dl dd textarea[name=desc] {
	margin-top: 1px;
}

.table_grid th, .table_grid .first_th, .table_grid .last_th {
	border-radius: 0;
	border-top: 2px solid #ff9400;
	border-bottom: 2px solid #bf6900;
	padding: 6px 6px 5px 6px;
	background: #fff;
	color: #666;
}
.table_grid tr.catbg th a:link {
	color: #666;
}
.table_grid .first_th, .table_grid  td:first-child {
	border-left: 1px solid #ccc;
}
.table_grid .last_th, .table_grid td {
	border-right: 1px solid #ccc;
}
.table_grid td {
	border-bottom: 1px solid #ccc;
}
.table_grid tr:nth-child(even) td {
	background: #fdfdfd;
}
.table_grid tr:nth-child(odd) td {
	background: #f8f8f8;
}