/* Styles for the standard dropdown menus.
------------------------------------------------------- */
.navbar-form .form-control {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}
/* make sidebar nav vertical */
@media (min-width: 768px) {
	.sidebar-nav .navbar .navbar-collapse {
		padding: 0;
		max-height: none;
	}
	.sidebar-nav .navbar ul {
		float: none;
	}
	.sidebar-nav .navbar ul:not {
		display: block;
	}
	.sidebar-nav .navbar li {
		float: none;
		display: block;
	}
}

.dropdown-menu .dropdown-menu {
	position: static;
	float: none;
	padding: 5px 15px;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	background-color: #fff;
	border: none;
}
.dropdown-menu {
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow:none;
	background-clip: padding-box;
}
.sidebar-nav .dropdown-menu {
	position: static;
	border: none;
}
.nav-header:not(:first-child) {
	margin-top: 15px;
}

.navbar-right ul
{
	padding: 0;
	width: 350px;
}
.navbar-right ul img
{
	 height: auto;
	 width: auto;
	 max-height: 100px;
	 max-width: 100px;
}
.navbar-right ul .panel
{
	margin: 0;
}
@media (min-width: 768px) {
	.navbar {
		border-radius: 4px;
	}
}
@media (min-width: 768px) {
	.navbar-header {
		float: left;
	}
}
.navbar-collapse {
	overflow-x: visible;
	padding-right: 15px;
	padding-left: 15px;
	border-top: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
					box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	-webkit-overflow-scrolling: touch;
}
.navbar-collapse.in {
	overflow-y: auto;
}
@media (min-width: 768px) {
	.navbar-collapse {
		width: auto;
		border-top: 0;
		-webkit-box-shadow: none;
						box-shadow: none;
	}
	.navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
	.navbar-collapse.in {
		overflow-y: visible;
	}
	.navbar-fixed-top .navbar-collapse,
	.navbar-static-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}
}
.navbar-brand:hover,
.nav a:hover {
	text-decoration: none;
}
@media (min-width: 768px) {
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		margin-left: -15px;
	}
}
.nav > li > a {
	display: block;
	padding: 1.5rem 2rem;
}
@media (max-width: 768px) {
	.navbar-form {
		display: none;
	}
}
@media (min-width: 768px) {
	.navbar-collapse > div,
	.nav {
		display: flex;
	}
	.navbar-right {
		flex-direction: row-reverse;
	}
}
.navbar-header a {
	padding: 1.5rem;
	vertical-align: middle;
}
.navbar-brand {
	font-size: 18px;
}
.navbar-toggle {
	display: inline-block;
}
.nav-justified {
	display: flex;
}
.nav-justified > li {
	flex-grow: 1;
}
.nav-justified > li > a {
	text-align: center;
	margin-bottom: 5px;
}

.tab-content > .tab-pane {
	display: none;
}
.tab-content > .active {
	display: block;
}
