/* audience-switcher ***** */
/* audience-switcher ***** */
div.audience-switcher,
.audience-switcher ul {
	background-color:#e6e7e8;
}
.audience-switcher ul {
	font-size:.9em;
	list-style-type:none;
	margin:0 auto;
	padding:3px 0 0;
	width:960px;
}
.audience-switcher li {
	display:inline-block;
	font-size:.9em;
}
.audience-switcher span.here,
.audience-switcher a {
	color:#4c5a52;
	display:block;
	padding:5px 10px;
	text-decoration:none;
	text-transform:uppercase;
	border:1px solid #b3b3b3;
	border-bottom:none;
	border-radius:4px 4px 0 0;
	margin:3px 3px 0 0;
}
.audience-switcher a.here,
.audience-switcher span.here {
	background-color:#fff;
	font-weight:bold;
}
.audience-switcher a.here:hover {
	border-color:#b3b3b3;
}
.audience-switcher a:hover {
	background-color:#e6e7e8;
}
/* audience-switcher ***** */

/* section1 ***** */
/* section1 ***** */
/* section1 ***** */
#section1 {
	border-bottom-style:solid;
	border-bottom-width:5px;
	border-bottom-color: #C1D82F;
	height:106px;
	overflow:visible;
	background-color: #FFFFFF;
	-webkit-box-shadow:	0 1px 10px 0 #333;
	box-shadow:0 1px 10px 0 #333;
	position: relative;
}
/* masthead ***** */
/* masthead ***** */
/* masthead ***** */
#masthead {
	border-bottom-style:solid;
	border-bottom-width:5px;
	border-bottom-color: #4AAA42;
	height:106px;
	margin:0 auto;
	position:relative;
	width:960px;
}
/* utility ***** */
#masthead .utility > ul {
	font-size:small;
	list-style-type:none;
	margin-top:0.5em;
	padding:0;
}
#masthead .utility > ul > li {
	display:inline;
}
#masthead .utility > ul > li:not(:last-child) > a {
	border-right:1px solid #4c5a52;
}
#masthead .utility > ul > li > a {
	color:#4c5a52;
	font-size:x-small;
	padding:0 1em;
}
/* utility ***** */

/* section1 ***** */

#footer {
	background-color: #EEE;
	box-shadow: inset 0 8px 9px -6px #BBB;
}
/* min-width should be equal to #wrapper min-width. */
#footer div.frame {
	padding: 10px 5px;
	overflow: auto;
}
#footer * {
	font-size: 0.9em;
	color: #6B736F;
}
#footer ul li {
	display: inline;
	padding-right: 5px;
}
#footer li.copyright {
	display: block;
}